.jumbotron{
    text-align: center;
    background:none;
    
}

.selectionLight{
    background-color: #eceeef;
    padding:2rem;
}


.sectionDark{
    background-color: #cccccc;
    padding:2rem;
}



.coolStuffWrapper{
   margin-top: 20px;
   
}


button.coolStuffBtn{
    background-color: red;
    color: #ffffff;
    display: block;
    margin: auto;
}


h5.modal-title{
    margin: auto;
}


.modalFormeWrapper{
    padding: 2rem;
    
    
}


.img-center{
    margin: auto;
    display: block;
}

.btnCenter{
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 81%;
}


.fa{
    margin: 10px;
    
}

.footerImg{
    padding: 15px;
    
}

.fa-facebook-square{
    color: #3b5998;
}

.fa-google-plus-square{
    color: #c32f10;
}

.fa-instagram{
    color: #ffffff;
}

.socialWrapper{
    margin: auto;
}





































